<!DOCTYPE html>
<html>

    <link href="stylesheets/main.css" rel="stylesheet">

    <link href="stylesheets/sidebar.css" rel="stylesheet">

  <head>
  <style type="text/css">
	.list1{
		color:white;float:right 
	}
	.list2{
		color:white;
	}
  </style>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <h1 href="/">
                主選單
              </h1>
              <li class="sidebar-brand">
                <a>首頁</a>
              </li>
			  <li class="sidebar-brand">
                <a>網站簡介</a>
              </li>
			  <li class="sidebar-brand">
                <a>開始探勘</a>
              </li>
			  <li class="sidebar-brand">
                <a>圖表分析</a>
              </li>
			  <br>
			  <br>
              <p class="footer"> Copyright © 106-2 資管專案系統</p>
            </ul>
          </div>
        </div>

  </head>

</html>
