<!DOCTYPE html>
   <% include ./header %>
<html>

    <title>資管專案系統</title>

    <link href="stylesheets/main.css" rel="stylesheet">

    <link href="stylesheets/sidebar.css" rel="stylesheet">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "total valuation", { role: "style" } ],
        ["好", 40, "#FF0000"],
        ["壞", 50, "#00DD00"],
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "the tatal evaluation of the airways",
        width: 640,
        height: 400,
        bar: {groupWidth: "35%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Month');
      data.addColumn('number', '蘋果日報');
      data.addColumn('number', '聯合報');
      data.addColumn('number', 'PTT');
	  data.addColumn('number', '論壇');
      data.addRows([
        [1,  37.8, 80.8, 41.8,33.9],
        [2,  30.9, 73.5, 32.4,25.1],
        [3,  25.4,   57, 25.7,37.2],
        [4,  11.7, 18.8, 10.5,13.1],
        [5,  11.9, 17.6, 10.4,15.7],
        [6,   8.8, 13.6,  7.7,3.2],
        [7,   7.6, 12.3,  9.6,15.6],
        [8,  12.3, 29.2, 10.6,18.1],
        [9,  16.9, 42.9, 14.8,5.2],
        [10, 12.8, 30.9, 11.6,22.2],
        [11,  5.3,  7.9,  4.7,11.3],
        [12,  6.6,  8.4,  5.2,13.1],
      ]);

      var options = {
        chart: {
          title: 'the comparison of good evaluation',
        },
        width: 640,
        height: 400,
        axes: {
          x: {
            0: {side: 'bottom'}
          }
        }
      };

      var chart = new google.charts.Line(document.getElementById('line_top_x'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>
  <body>
    <div id="wrapper">
        <!-- Sidebar -->

          <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12">
						<h6 class="list1" target="_blank"><a href="/login">會員登入</a></h6>
                          <h1 class="page-header">圖表分析</h1>
			           </div>
					   <div id="columnchart_values" style="position:relative;left:130px;top:170px;width: 700px;"></div>
					   <div id="line_top_x" style="position:relative;left:130px;top:220px;width:700px"></div>
                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->
    </div>

  </body>
</html>
	