<!DOCTYPE html>
   <% include ./header %>
<html>

    <title>茶湯會產銷資訊系統</title>

    <link href="stylesheets/main.css" rel="stylesheet">

    <link href="stylesheets/sidebar.css" rel="stylesheet">

  <body>
    <div id="wrapper">
        <!-- Sidebar -->

          <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12">
                          <h1 class="page-header">專案資訊系統</h1>
                          <h3>歡迎使用專案資訊系統</h3><br><br><br><br><br>
                          <p>106 專案資訊系統</p>
                          <p>000000000 劉宏宥</p>
						  <p>000000000 劉昭廷</p>
						  <p>000000000 鍾頤承</p>
                          <p>103306076 羅友琪</p>
                          <p>104306074 林俊彥</p>
                          <p>指導教授：曾淑峰</p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->
    </div>

  </body>
</html>
