<!DOCTYPE html>
   <% include ./header %>
<html>

    <title>資管專案系統</title>

    <link href="stylesheets/main.css" rel="stylesheet">	

    <link href="stylesheets/sidebar.css" rel="stylesheet">

  <body>
    <div id="wrapper">
        <!-- Sidebar -->

          <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12">
						<h6 class="list1" target="_blank"><a href="/">會員登出</a></h6>
                          <h1 class="page-header">探勘挖挖哇</h1>
                          <h4 class="list2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一個用來挖掘航空公司評價的系統</h4><br><br><br><br><br>
                          <h3>106 專案資訊系統</h3>
                          <p>101306084 劉宏宥</p>
						  <p>104306015 劉昭廷</p>
						  <p>103306072 鍾貽丞</p>
                          <p>103306076 羅友琪</p>
                          <p>104306074 林俊彥</p><br/>
                          <p>指導教授：曾淑峰&nbsp;&nbsp;&nbsp;教授</p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->
    </div>

  </body>
</html>
