<!DOCTYPE html>
   <% include ./header %>
<html>

    <title>資管專案系統</title>

    <link href="stylesheets/main.css" rel="stylesheet">

    <link href="stylesheets/sidebar.css" rel="stylesheet">

  <body>
    <div id="wrapper">
        <!-- Sidebar -->

          <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12">
						<h6 class="list1" target="_blank"><a href="/">會員登出</a></h6>
                          <h1 class="page-header">網站簡介</h1>
						  <br>
						  <br>
						  <br>
                          <h3 class="list1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本專案團隊最核心之目的便是要幫助國內兩大航空業(華航、長榮)分析網友對自家公司服務的相關留言。我們選擇利用「文字探勘」技術分析各家航空公司粉絲專頁上的留言(非結構化的文字內容)，以利航空公司知悉其在網路上之滿意程度與尚待改進的地方。 
 
						<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;「探勘挖挖哇！」平台將會以網站頁面形式讓航空業者快速、有效且簡單明瞭的方式檢索自家航空在各大網站、論壇的正負評價。探勘文字來源分布廣泛，從PTT實業坊到各大論壇到旅遊推薦網站 (例如：背包客棧、Tripadvisor) 等，很大程度的囊括了大部分的旅客評價來源，因此我們認為探勘結果相當具有代表性。  
   
						<h3/>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->
    </div>

  </body>
</html>
