   <% include ./header %>
  <body>
    <div id="wrapper">
        <!-- Sidebar -->

          <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12">
						<h6 class="list1">會員登入</h6>
                          <h1 class="page-header">網站簡介</h1>
						  <br>
						  <br>
						  <br>
                          <h3 class="list1">「探勘挖挖哇！」是一個以網站頁面形式讓航空業者快速、有效且簡單明瞭的方式檢索自家航空在各大網站、
						  論壇的正負評價的平台。探勘文字來源分布廣泛，從PTT實業坊到各大論壇、旅遊推薦網站 (例如：背包客棧、Tripadvisor) 到Facebook臉
						  書社團等，很大程度的囊括了大部分的旅客評價來源，將能帶給航空公司很多的反思。</h3>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->
    </div>

  </body>
</html>
