<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>資管專案系統</title>
</head>

<body>
	<div class="boxLogin">
    <form class="form-signin" role="form" method="post">
	<div class="fields">
	<p class="sep">
		<label class="small" for="username">請輸入帳號：</label>
		<input id="txtUserName" name="txtUserName" type="text" class="form-control" placeholder="請輸入帳號" required /><br/>
    <p/>
	<p class="sep">
	<label class="small" for="username">請輸入密碼：</label>
	<input id="txtUserPwd" name="txtUserPwd" type="password" class="form-control" placeholder="請輸入密碼" required /><br/>
    <p/>
	<p class="sep">
	<label class="small" for="username">在輸入密碼：</label>
	<input id="txtUserRePwd"  name="txtUserRePwd" type="password" class="form-control" placeholder="再輸入密碼" required /><br/> 
    <p/>
	<button id="btnSub" class="btn btn-lg btn-primary" type="submit" onclick="window.location='/'">註冊</button>
	<input name="button1" type="button" value="退回首頁" onclick="window.location='/'" />
	<input name="button1" type="button" value="會員登入" onclick="window.location='/login'" />
	<div/>
	</form> 
	<div/>
</body>

</html>