<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>資管專案系統</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="boxLogin">
    <form action="" id="form1" name="form1" method="POST">
      <div class="fields">
		<h1>會員註冊</h1>
        <p class="sep">
          <label class="small" for="username">會員帳號：</label>
          <input name="username" type="text" placeholder="請輸入你想要的帳號" id="username" required />
        </p>
        <p class="sep">
          <label class="small" for="password">會員密碼：</label>
          <input type="text" placeholder="請輸入你想要的密碼" name="password" id="password" required />
        </p>
          <input type="submit" name="button" id="button" value="送出資料" />
          <input type="reset" name="button2" id="button2" value="重設資料" />
          <input type="button" name="button3" id="button3" value="回主頁面" onclick="window.location='/'" />
      </div>
    </form>
  </div>
</body>
</html>