<!DOCTYPE html>
<html>

    <link href="stylesheets/main.css" rel="stylesheet">

    <link href="stylesheets/sidebar.css" rel="stylesheet">

  <head>
  <style type="text/css">
	.list1{
		color:white;float:right 
	}
	.list2{
		color:white;
	}
	body {font-family: Arial;}
	.tab {
		overflow:hidden;border:1px solid #ccc;background-color:#DDDDDD;width:850px;
	}
	.tab button {
		background-color:inherit;float: left;border:none;outline:none;cursor:pointer;padding:14px 16px;transition:0.3s;font-size:15px;color:#000000;
	}
	.tab button:hover {
		background-color:#ddd;
	}	
	.tab button.active {
		background-color:#ccc;
	}
	.tabcontent {
		display:none;padding:6px 12px;border: 1px solid #ccc;border-top: none;width:850px;height:300px;
	}
  </style>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <h1 href="/">
                主選單
              </h1>
              <li class="sidebar-brand">
                <a>首頁</a>
              </li>
			  <li class="sidebar-brand">
                <a>網站簡介</a>
              </li>
			  <li class="sidebar-brand">
                <a>開始探勘</a>
              </li>
			  <li class="sidebar-brand">
                <a>圖表分析</a>
              </li>
			  <br>
			  <br>
              <p class="footer"> Copyright © 106-2 資管專案系統</p>
            </ul>
          </div>
        </div>

  </head>

</html>
